<div class="wrap_menu p-l-45 p-l-0-xl">
        <nav class="menu">
            <ul class="main_menu">
                <li>
                    <a href="/">Home</a>
                </li>
    
                <li>
                    <a href="/menu">Menu</a>
                </li>
    
                <li>
                    <a href="/reservation">Reservation</a>
                </li>
    
                <li>
                    <a href="/gallery">Gallery</a>
                </li>
    
                <li>
                    <a href="/about">About</a>
                </li>
    
                <li>
                    <a href="/blog">Blog</a>
                </li>
    
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    